/* semantic color variables for this project */
:root {
  --cyan: hsl(180, 66%, 49%);
  --cyan2: hsla(179, 56%, 75%, 1);
  --dark-gray: hsla(266, 10%, 14%, 1);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsla(256, 28%, 26%, 1);
  --very-dark-violet: hsla(257, 27%, 26%, 1);
  --gray2: hsla(230, 25%, 95%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
