@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

a {
  text-decoration: none !important;
}
